{% extends "inventory/base.html" %}
{% block title %}
    Create new project
{% endblock title %}
{% block content %}
    <h1>Create new project</h1>
    <form method="post" action="/create_project">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{ form.as_p }}
                <button class="btn btn-success" type="submit" name="save">Create</button>
            </div>
        </div>
    </form>
{% endblock content %}
