{% extends "inventory/base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Latest Items</h3>
                {% for item in items %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="item/{{ item.id }}">{{ item.name }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>Latest Projects</h3>
                {% for project in projects %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="project/{{ project.id }}">{{ project.name }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3>Latest Tasks</h3>
                {% for task in tasks %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="task/{{ task.id }}">{{ task.name }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>Latest Parts</h3>
                {% for part in parts %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="part/{{ part.id }}">{{ part.name }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
