{% extends "inventory/base.html" %}
{% block title %}
  Item
{% endblock title %}
{% block content %}
  <div class="container">
    <h3>Item details</h3>
    <form method="post" action="{% url 'item' item.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {% if field.field.widget.input_type == 'file' %}
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" onchange="previewImage(event)">
            {% else %}
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
          {% endif %}
        </div>
      {% endfor %}

      <!-- Iterate over all associated images -->
      <div class="d-flex flex-wrap">
        {% for image in item.images.all %}
          <a href="{{ image.file.url }}" target="_blank">
            <img id="preview{{ forloop.counter }}" src="{{ image.file.url }}" style="max-width: 200px; max-height: 200px; margin: 1rem; cursor: pointer;">
          </a>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var output = document.getElementById('preview' + event.target.dataset.index);
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>

{% endblock content %}
